<app-header titulo="Tarjetas"></app-header>

<ion-content padding>
  <!-- Esto es una tarjeta básica: -->
  <ion-card mode="ios" color="primary"><!-- El mode determina el estilo de dispositivo a utilizar y el color ambos opcionales-->
    <!-- Esta será la cabecera de la tarjeta: -->
    <ion-card-header>
      <ion-card-subtitle>Subtitulo de tarjeta</ion-card-subtitle>
      <ion-card-title>Titulo de tarjeta</ion-card-title>
    </ion-card-header>
    <!-- Contenido de tarjeta -->
    <ion-card-content>
      Do enim dolor do ex ea anim dolore veniam magna mollit. Occaecat cillum non excepteur sit. Dolore nulla voluptate laboris ullamco. Laborum reprehenderit ex deserunt pariatur magna deserunt incididunt ea sunt nulla id.
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-item color="primary">
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-label>Marcador</ion-label>
      </ion-item>

      <ion-card-content>
        Laborum deserunt anim nulla est labore sint dolore enim culpa mollit. Sit minim proident eiusmod laborum ex exercitation laborum est do. Mollit reprehenderit adipisicing cupidatat eiusmod in pariatur sunt qui duis. Anim voluptate tempor nulla magna cillum aute dolor. Non elit sint aliquip culpa voluptate est ad laboris mollit reprehenderit Lorem do. Amet elit elit et Lorem nulla qui sit ipsum proident eiusmod. Incididunt laborum anim do amet et irure mollit laboris ad minim.
      </ion-card-content>
  </ion-card>

  <ion-card>
    <!-- El ion img se carga cuando es necesario a diferencia del img -->
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Aute aliqua cillum minim eiusmod consequat magna labore id elit eu eiusmod. Laboris eu est et ut enim ex do anim. Cupidatat aute consequat ullamco mollit nulla et in deserunt deserunt culpa nulla nostrud. In dolor reprehenderit laborum aute excepteur exercitation.
    </ion-card-content>
  </ion-card>

  

</ion-content>
