<ion-menu side="start" menuId="primerMenu" contentId="principal"><!-- El menuId es el identificador unico del menu y el contentId es el identificador del contenedor que va a empujar el menu -->
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- Generamos la siguiente etiqueta para que se cierre el menu cuando pulsamos sobre una opción y metemos dentro nuestras opciones: -->
      <ion-menu-toggle *ngFor="let c of componentes | async">
        <!-- Hacemos un bucle, como estamos usando rxjs necesitamos el pipe async -->
        <ion-item [routerLink]="c.redirectTo">
            <ion-icon slot="start" [name]="c.icon"></ion-icon>
            <ion-label>{{ c.name }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>
</ion-menu>